@font-face {
    font-family: codenameCoder;
    src: url('../fonts/CodenameCoderFree4F-Bold.otf');
}
@font-face {
    font-family: droidSans;
    src: url('../fonts/DroidSans.ttf');
}
body {
    background-color: #272727;
    color: #FFFFFF;
    font-family: droidSans, sans-serif;
    font-size: 18px;
}
header {
    font-family: codenameCoder, sans-serif;
    font-size: 70px;
    text-align: center;
    padding-bottom: 30px;
}
nav {
    width: 20%;
    float: left;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-right: 20px;
    margin-top: 0;
}
ul li {
    background-color: #26519E;
    text-align: center;
}
ul li:hover {
    background-color: #22488E;
}
ul li:active {
    background-color: #1E407E;
}
ul li a div {
    padding: 5px;
    margin-bottom: 10px;
}
ul a {
    color: #FFFFFF;
    text-decoration: none;
}
section {
    float: left;
    width: 63%;
    text-align: justify;
}
section a {
    color: #6785BB;
    text-decoration: none;
}
article {
    padding-left: 40px;
}
aside {
    width: 32%;
    float: right;
    margin-right: 17px;
    font-size: 15px;
}
#wrapper {
    float: left;
    width: 80%;
}
img {
    width: 100%;
    height: auto;
}
iframe {
    margin-top: 39px;
    margin-left: 40px;
}